.AllTeams {
    text-align: center;
    background-image: url("/src/baseballfield.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 75vh;
    overflow-x: scroll;
    /* min-width: 513px; */
}
.AllTeams .innerTeam {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.AllTeams .teams {
    text-align: left;
    font-weight: 600;
    font-size: 1.5em;
}
.AllTeams .outerbox {
    margin-left: auto;
    margin-right: auto;
    display: table;
}
.AllTeams .team {
    text-align: left;
}
.AllTeams .grid-container {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 2fr 1fr;
    /* grid-template-columns: repeat(5,1fr); */
}
.AllTeams form {
    display: grid;
    column-gap: 10px;
    grid-template-areas: 'team sport league city'
                        '. btn btn .';
}
.AllTeams .submitField {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    font-weight: 600;
    font-size: 1.2em;
}
/* .AllTeams submit {
    justify-content: center;
} */
@media only screen and (max-width: 815px) {
    .AllTeams form {
        /* grid-template-rows: repeat(5,1fr);
        grid-template-columns: 1fr;*/
        column-gap: 5px; 
        grid-template-areas: 'team sport'
                             'league city'
                             'btn btn'
    }
  }
  @media only screen and (max-width: 615px) {
    .AllTeams form {
        column-gap: 5px;
        margin-left: 20%; 
        margin-right: 20%;
        grid-template-areas: 'team'
                             'sport'
                             'league'
                             'city'
                             'btn'
    }
    .AllTeams .grid-container {
        overflow-wrap: break-word;
    }
    .AllTeams .listCity {
        overflow-wrap: break-word;
    }
  }
  .AllTeams .sub {
      grid-area: btn;
      /* width: 110px; */

  }
  .AllTeams .button {
      width: 110px;
  }
  .AllTeams .innerTeam {
      grid-area: team;
  }
  .AllTeams .sport {
      grid-area: sport;
  }
  .AllTeams .league {
      grid-area: league;
  }
  .AllTeams .city {
      grid-area: city;
  }